*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    background-color: #F3F5FC;
    height: 97%;
}

header{
    width: 100%;
    height: 1%;
}

.logo{
    width: 100%;
    margin-top: 1%;
}

.contenedor-dark{
    display: inline-flex;
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
}
.btn-dark, .btn-light, .btn-leer, .btn-silencio, .btn-arg, .btn-usa{
    background-color: #F3F5FC;
    color: #0A3871;
    font-size: 20px;
    border: none;
    width: 26px;
    height: 26px;
}
.btn-leer {
    width: 32px;
}
.btn-light{
    background: url(bg.jpg);
    color: white;
    width: 32px;
    font-size: 19px;
}
.img-usa, .img-arg {
    width: 22px;
    height: 22px;
    padding: 1px 0 0 0;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.section-textarea{
    width: 70%;
    margin: 5% 0 0 auto;
}
.textarea{
    width: 75%;
    height: 73%;
    display: block;
    margin: 3% 8% 2% auto;
    padding: 5px 0 0 15px;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background-color: #F3F5FC;
    color: #0A3871;
}
::placeholder{ 
    color: #0A3871;
}


.advertencia{
    font-size: 14px;
    color: #495057;
    opacity: 80%; 
    width: 83%;
    margin: 0 3px 2% auto;
}
.advertencia:hover{
    font-size: 24px;
}

.contenedor-btn{
    width: 83%;
    margin: 0 0 0 auto;
}
.boton-encriptar, .boton-desencriptar, .boton-copiar{
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
    width: 40%;
    height: 50px;
    border: 1px solid #0A3871;
    font-size: 20px;
    transition: 600ms all;
    margin-right: 5%;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px grey;
}
.boton-desencriptar, .boton-copiar{
    background-color: #F3F5FC;
    color: #0A3871;
}
.boton-desencriptar:hover, .boton-encriptar:hover, .boton-copiar:hover{
    width: 43%;
    height: 60px;
    font-size: 25px;
    text-transform: uppercase;
}

.section-munieco{
    width: 20%;
    background-color: white;
    border-radius: 30px;
    margin: 0 4% 0 0;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px grey;
}
.contenedor-munieco{
    width: 90%;
    height: 40%;
    margin: 40% auto 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.munieco{
    width: 90%;
}
.contenedor-h3, .contenedor-p{
    width: 90%;
    height: 10%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.contenedor-p{
    font-size: 14px;
}

.contenedor-tx-encriptado{
    width: 80%;
    height: 85%;
    margin: auto;
    padding-top: 5%;
    box-sizing: border-box;
    overflow: auto;
    text-align: justify;
    font-size: 23px;
}

.contenedor-copiar{
    width: 100%;
    text-align: center;
}
.boton-copiar{
    width: 80%;
    margin: auto;
}
.boton-copiar:hover{
    width: 90%;
}

.ocultar{
    display:none;
}

footer{
    text-align: center;
    font-size: 12px;
}

.copyride{
    width: 15%;
    text-decoration: none;
    margin: 2% auto 1%;
    font-size: 12px;
    color: black;
}
.fa-brands {
    font-size: 14px;
    margin: 2%;
    color: black;
}

.dark{
    background: url(bg.jpg);
    color: white;
}
.dark-grey{
    background: url(bg.jpg);
    color: white;
    box-shadow: 1px 1px 5px 1px white;
}
.dark-grey::placeholder{
    color: white;
}
.dark-grey2{
    background: url(bg.jpg);
    color: white;
    box-shadow: 1px 1px 5px 1px white;
}

